<%= stylesheet_link_tag "style.css" %>
<table>
  <tr>
    <%= tag("td", class: random_rotation) %><%= @dice[0] %></td>
    <%= tag("td", class: random_rotation) %><%= @dice[1] %></td>
    <%= tag("td", class: random_rotation) %><%= @dice[2] %></td>
    <%= tag("td", class: random_rotation) %><%= @dice[3] %></td>
  </tr>
  <tr>
    <%= tag("td", class: random_rotation) %><%= @dice[4] %></td>
    <%= tag("td", class: random_rotation) %><%= @dice[5] %></td>
    <%= tag("td", class: random_rotation) %><%= @dice[6] %></td>
    <%= tag("td", class: random_rotation) %><%= @dice[7] %></td>
  </tr>
  <tr>
    <%= tag("td", class: random_rotation) %><%= @dice[8] %></td>
    <%= tag("td", class: random_rotation) %><%= @dice[9] %></td>
    <%= tag("td", class: random_rotation) %><%= @dice[10] %></td>
    <%= tag("td", class: random_rotation) %><%= @dice[11] %></td>
  </tr>
  <tr>
    <%= tag("td", class: random_rotation) %><%= @dice[12] %></td>
    <%= tag("td", class: random_rotation) %><%= @dice[13] %></td>
    <%= tag("td", class: random_rotation) %><%= @dice[14] %></td>
    <%= tag("td", class: random_rotation) %><%= @dice[15] %></td>
  </tr>
</table>
